body {
  font-family: Arial;
}

img {
  width: 20px;
  height: 20px;
  visibility: hidden;
}

div {
  margin: 3px;
  font-size: 86pt;
  color: white;
  float: left;
  line-height: 255px;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
}

.under {
  background-color: white;
  height: 25%;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .6);
}

.under:hover img {
  visibility: visible;
}

.inside {
    color: black;
    font-size: 25%;
    text-align: left;
    line-height: 50px;
    margin-left: 10px;
}

.first {
  background-color: #65C2DC;
}

div:hover {
  color: black;
}

.second {
  background-color: #EEBC40;

}

.third {
  background-color: #269F5D;
}

.main {
  background-color: lightgray;
  width: 920px;
  height: 410px;
}
