div {
  margin: 3px;
  font-size: 32pt;
  float: left;
  position: relative;
}

.under {
  background-color: white;
  height: 20%;
  position: absolute;
  bottom: 0;
}

.first {
  background-color: #65C2DC;
  left: 0;
}

.second {
  background-color: #EEBC40;

}

.third {
  background-color: #269F5D;
}

.main {
  background-color: lightgray;
  width: 1015px;
  height: 550px;
}
